body {
	font-family: font-family: 'Indie Flower', cursive;;
}
h2,h3, h4, h5 {
	font-family: font-family: 'Indie Flower', cursive;;
	color: white;
	margin: 0;
	z-index: 10;
	position: relative;
}

h3,h2 {
	font-size: 2.15em;
	margin-bottom: 10px;
}
h4 {
	font-size: 1em;
	line-height: .75em;
	margin-bottom: 10px;
}
h5 {
	font-size: .75em;
}


/*Top Styles --------------*/

.top {
	margin: 10px 0 0 10px;
}

.bottom {
	margin: 200px 0 0 10px;
}

.form {
	margin-left: 20px;
	margin-top: 50%;
	width: 100%;
	z-index: 10;
	position: relative;
}
	
#getWeather {
	margin: auto;
	width: 60%;
	margin-left: 42px;
}

#getZip {
	margin-top: 5px;
	margin-left: 88px;
	width: 100px;
	height: 40px;
}

.wrapper {
	background-image: url(../img/dog-sun.jpg);
	margin: 0 auto;
	width: 500px;
	height: 400px;
	position: relative;
	overflow: hidden;
}



/*Clearfix --------------*/
.group {
	clear: both;
}