/*Body Styles --------------*/
body {
	font-family: 'Press Start 2p', cursive;
}

/*Header Styles ------------*/

h1, h2, h3, h4, h5 {
	font-family: 'Press Start 2p', cursive;
	color: white;
	margin: 0;
	text-shadow: 3px 0px 0px rgba(0, 0, 0, 1);
	z-index: 10;
	position: relative;
}
h2 {
	font-size: 3em;
	text-shadow: 5px 0px 0px rgba(0, 0, 0, 1);
}

h3 {
	font-size: 1.15em;
	margin-bottom: 10px;
}
h4 {
	font-size: 1em;
	line-height: .75em;
	margin-bottom: 8px;
}
h5 {
	font-size: .75em;
}
.current {
	margin-bottom: 5px;
	font-size: 1em;
}

/*Top Styles --------------*/

.top {
	margin: 10px 0 0 10px;
}

/*Top Styles --------------*/

.bottom {
	margin: 242px 0 0 10px;
}

/*Form Styles --------------*/
.form {
	margin-left: 20px;
	margin-top: 50%;
	width: 100%;
	z-index: 10;
	position: relative;
}
	
#getWeather {
	margin: auto;
	width: 60%;
	margin-left: 42px;
}

#getZip {
	margin-top: 5px;
	margin-left: 88px;
	width: 100px;
	height: 40px;
}

/*Sky Background --------------*/
.wrapper {
	background-image: radial-gradient(circle at top left, rgb(140, 238, 255), rgb(0, 197, 255));
	margin: 0 auto;
	width: 320px;
	height: 460px;
	position: relative;
	overflow: hidden;
}

/*Clouds --------------*/
.clouds {
	width: 100%;
	position: absolute;
	z-index: 8;
}
element.style {
	position: absolute;
}

/*Environment --------------*/
.wrapper img {
	position: absolute;
	bottom: 0;
	right: 0;
}
.hill {
	margin: 0 10px 40px 0;
}

.bush {
	margin: 0 -15px 40px 0;
	height: 60px;
}

/*Bricks --------------*/
.ground {
	background-image: url(../img/marioElements/brick.png);
	height: 40px;
	width: 100%;
	position: absolute;
	bottom: 0;
}

/*Night --------------*/
.night {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  background-color: rgba(0, 3, 55, 0.8);
}

/*Clearfix --------------*/
.group {
	clear: both;
}